.l-content {
    display: flex;
    justify-content: center;
}

.banner {
    background: transparent linear-gradient(135deg, #667eea 0%, #764ba2 100%) 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(linear-gradient(135deg, #667eea 0%, #764ba2 100%), sizingMethod='scale');
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.pure-button-primary {
    background-color: #654ba2;
}