{% extends "layout.html" %}
{% block content %}

<h2>Analyze your WhatsApp chat!</h2>

<p></p>

<br>

<form method="POST" enctype="multipart/form-data">
  <input type="file" name="file" accept=".txt">
  <input type="submit" value="Upload">
  </br></br>
  <label for="mask">Wordcloud Shape</label>
  <select id="mask" name="mask">
    <option value="square">Square</option>
    <option value="chat_bubble_rounded">Rounded Chat Bubble</option>
    <option value="chat_bubble_square">Square Chat Bubble</option>
    <option value="circle">Circle</option>
    <option value="cloud">Cloud</option>
    <option value="heart_wider">Heart - Wide</option>
    <option value="heart">Heart</option>
    <option value="house">House</option>
    <option value="triangle">Triangle</option>
  </select>
</form>

{% endblock %}