<!DOCTYPE html>
  <head>

    <html lang="en" dir="ltr">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
    <link rel="stylesheet" href="../static/css/template.css">
    
    <title>Chatty</title>

  </head>

  <body>

    <div class="pure-menu pure-menu-horizontal">
      <a href="/" class="pure-menu-heading">Chatty</a>
      <!-- <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Github</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Blog</a></li>
      </ul> -->
    </div>

    {% block content %}{% endblock %}
  
    <div class="footer l-box">
      <p>made by nia-89</p>
    </div>

  </body>

</html>