<!DOCTYPE html>
  <head>

    <html lang="en" dir="ltr">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    
    <title>Chatty</title>

  </head>

<body>

  <div>
    <a href="#">Chatty</a>
  </div>


  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <footer>  
    <div>
      <a href="#">About</a>
      <a href="#">Github</a>
      <a href="#">Blog</a>
   </div>
  </footer>

</body>

</html>